@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:beige;
    --secondary-color:#0E0F10;
}
body{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}