@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: beige;
  --secondary-color: #0e0f10;
}
body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
@layer components {
  .navlink-design {
    @apply px-3 w-40 mx-10 py-2 inline-block rounded-md bg-zinc-800 hover:bg-zinc-700 font-bold text-center;
  }
}
